@page "/login"
@inject NavigationManager navManager
@inject HttpClient Http

@using Syncfusion.Blazor.Notifications
@using Syncfusion.Blazor.Inputs 

<SfToast @ref="ToastObject">
    <ToastPosition X="Right" Y="Top"></ToastPosition>
</SfToast>
<AuthorizeView>
    <Authorized>You are already logged in...</Authorized>
    <Authorizing>
        Authorizing...
    </Authorizing>
    <NotAuthorized>
        <h5>Login Here!</h5>
        <SfTextBox FloatLabelType="FloatLabelType.Always" Type="InputType.Text" @bind-Value="loginUser.Username" Placeholder="Email Address" />
        <br />
        <SfTextBox FloatLabelType="FloatLabelType.Always" Type="InputType.Password" @bind-Value="loginUser.Password" Placeholder="Password" />
        <br />
        <br />
        <button @onclick="LoginUser" class="btn btn-primary btn-sm"><i class="oi oi-account-login"></i>&nbsp;&nbsp;Login</button>
    </NotAuthorized>
</AuthorizeView>

@code {

    private LoginModel loginUser = new();
    private SfToast ToastObject;

    private async Task LoginUser()
    {
        var response = await Http.PostAsJsonAsync<LoginModel>("api/user/loginuser", loginUser);
        if (response.IsSuccessStatusCode)
        {
            navManager.NavigateTo("/", true);
        }
        else
        {
            await this.ToastObject.ShowAsync(new ToastModel { Title = "Attention", Content = "Invalid Credentials. Please try again!", CssClass = "e-toast-warning", ShowCloseButton = true });
        }
    }
}
