@inherits LayoutComponentBase

@inject NavigationManager navManager 

@using Syncfusion.Blazor.Cards 

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <div class="main">
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <button class="btn btn-light btn-sm"><i class="oi oi-bell"></i></button>
                </Authorized>
                <Authorizing>
                    
                </Authorizing>
                <NotAuthorized>
                    <button @onclick="NavigateLogin" class="btn btn-light btn-sm"><i class="oi oi-bell"></i></button>
                </NotAuthorized>
            </AuthorizeView>
        </div>
        <div class="content px-4">
            <SfCard ID="LayoutCard" Orientation="CardOrientation.Vertical">
                <CardContent>
                    @Body
                </CardContent>
            </SfCard>
        </div>
    </div>
</div>
<style>
    #LayoutCard {
        min-height: 90vh;
        margin-bottom: 2vh;
    }
</style>

@code {
    private void NavigateLogin()
    {
        navManager.NavigateTo("login");
    }
}


