@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <div class="main">
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    Welcome, @context.User.Identity.Name
                </Authorized>
                <Authorizing>
                    Authorizing...
                </Authorizing>
                <NotAuthorized>
                    <button class="btn btn-primary btn-sm"><i class="oi oi-account-login"></i>&nbsp;&nbsp;Login</button>
                </NotAuthorized>
            </AuthorizeView>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>


